{% extends 'notes/main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h1 class="notes-heading">Create Note</h1>
<div class="d-flex flex-column w-100">

    <form method="post" action="{% url 'notes:edit_note' id %}" class="w-50 ps-5 pe-5 ms-auto me-auto">
        {% csrf_token %}
        <div class="form-group mt-2 mb-2">
            <label for="{{form.name.id_for_label}}">Title:</label>
            {{ form.name|add_class:'form-control' }}
            {% for error in form.name.errors %}
            <small class="form-text" style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div class="form-group mt-2 mb-2">
            <label for="{{form.content.id_for_label}}">Note:</label>
            {{ form.content|add_class:'form-control note-con-height' }}
            {% for error in form.content.errors %}
            <small class="form-text" style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <div class="row mt-2 mb-2">
            <div class="form-group col d-flex flex-column">
                <label for="{{form.colorText.id_for_label}}">Text:</label>
                {{ form.colorText|add_class:'form-control h-100' }}
                {% for error in form.colorText.errors %}
                <small class="form-text" style="color:red;">{{error}}</small>
                {% endfor %}
            </div>
            <div class="form-group col d-flex flex-column">
                <label for="{{form.colorBackground.id_for_label}}">Background:</label>
                {{ form.colorBackground|add_class:'form-control h-100' }}
                {% for error in form.colorBackground.errors %}
                <small class="form-text" style="color:red;">{{error}}</small>
                {% endfor %}
            </div>
            <div class="form-group col d-flex flex-column">
                <label for="{{form.fontSize.id_for_label}}">Size:</label>
                {{ form.fontSize|add_class:'form-control h-100' }}
                {% for error in form.fontSize.errors %}
                <small class="form-text" style="color:red;">{{error}}</small>
                {% endfor %}
            </div>
            <button type="submit" class="col btn btn-secondary mt-4 ps-1 pe-1 w-25">Save</button>
        </div>
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    </form>
</div>

{% endblock %}